<div class="">
<p>Ask your coach anything:</p>
<form action="/answer" data-turbo="false" class="input-group">
  <input type="text" name="ask" class="col-11 border-2 border rounded-start">
  <input class="btn btn-primary col-1" type="submit" value="Ask!">
</form>
</div>
